<html>
  <head>
    <title>Patient Dashboard</title>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script type="text/javascript" language="javascript" src="/touchscreentoolkit/lib/javascripts/standard.js" defer ></script>
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "2010/03/12";
      tt_cancel_show = "<%= ((@refer_out == true && @result.length > 0) || 
    (@discharged.to_s.upcase.include?("DISCHARGED") == true && @result.length > 0) ?
    ("/encounters/print_discharge_note/?patient_id=#{@patient.id}&encounter_id=#{@result[0][0]}") :
    '/people/index') %>";
<%
@assign_serial_numbers = CoreService.get_global_property_value("assign_serial_numbers").to_s == "true" rescue false
@registration = (['registration', "labour ward", "gynaecology ward", "ante-natal ward"].include?(Location.find(session[:location_id]).name.downcase)) rescue false

if !@registration && @assign_serial_numbers && @pending_birth_reports.length > 0
  params[:lock] = "true"
else
  params[:lock] = "false"
end

#raise @pending_birth_reports.length.to_yaml
%>
  var check_birth_reports = "<%= @assign_serial_numbers && !@registration %>"
 
  var total_not_sent = "<%= @pending_birth_reports.length%>"
  var lockFinish = "<%= params[:lock].to_s rescue "false"%>";
  var unsent_birth_reports = ("<%= (@user_unsent_birth_reports.concat(@pending_birth_reports)).uniq.join(',') rescue ""%>")
     
  unsent_birth_reports = (unsent_birth_reports == "")? [] : unsent_birth_reports.split(",")

  var opacity = 1;
  alerted = 0;
  function createAlert(){
    if (check_birth_reports == "true"){
      try{
        if (unsent_birth_reports.length > 0){
          msgDiv = document.createElement("div");
          msgDiv.id = "msg-div";
          msgDiv.innerHTML = "<span>Mother has " + unsent_birth_reports.length + " Unsent</br> Birth Report" + ((unsent_birth_reports.length == 1) ? "" : "s") + "</span>";
          __$("content").appendChild(msgDiv);
          alerted ++;
          hideMsg("msg-div");
          // alert("there")
        }
      }catch(ex){
      
      }
      if (alerted == 0){
        setTimeout(function(){createAlert()}, 100);
      }
    }
  }

  function hideMsg(div){
    setTimeout(function(){fade(div, 1);}, 2500);
  }

  function fade(div, opacity){
    __$(div).style.opacity = opacity;
    if (opacity >= 0){
      opacity = opacity - 0.01;
      setTimeout(function(){fade(div, opacity)}, 20)
    }
  }

  function lockFinishButton(){
    clickE = "";
    try{
      clickE = __$("btnNext").onclick;
    }catch(exx){
      
    }

    if (lockFinish == "true" && clickE != ""){
      __$("btnNext").onclick = function(){

      }
    
      __$("btnNext").onmousedown = function(){
        showMessage("Patient Exit Denied! </br>" + total_not_sent + " Unattempted Birth Report" + ((parseInt(total_not_sent) == 1)? "" : "s") + " Found", false, false);
      };      
    }else{       
    }
    setTimeout(function(){lockFinishButton()}, 100);
  }
  
  function __$(id){
    return document.getElementById(id);
  }
  
    </script>

    <style>
      #msg-div{
        position: absolute;
        left: 46%;
        top: 30%;
        font-weight: bold;
        background: red;
        z-index: 100;
        width: 25%;
        padding: 10px;
        font-size: 1.3em;
        height: 8%;
        text-align: center;
        vertical-align: middle;
        border-radius: 5px;
      }
    </style>

  </head>
  <body  onload='lockFinishButton(); setTimeout(function(){createAlert()}, 500)'><div id='content' >
      <div  id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action=''>
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Dashboard</th>
            </tr>
            <h1 id='project_name'>
              <div style='font-size: 0.8em; margin-top: 12px; color: #6281A7;'>maternity</div>
            </h1>

            <span id='patient_name'><%= @patient.person.name %></span>
            <span id='patient_id'><%= @patient.national_id %></span>
            <span id='patient_residence'><%= @patient.person.current_residence %></span>
            <span id='patient_age'><%= @patient.person.age %></span>
            <span id='patient_gender'>Female</span>

            <select id="tabs">
              <option value='/patients/visit_summary?patient_id=<%= @patient.id %>'>Visit Summary</option>
              <option value='/patients/visit_history?patient_id=<%= @patient.id %>'>Visit History</option>
              <option value='/patients/children?patient_id=<%= @patient.id %>'>Children</option>


              <% if @link_to_anc %>

                <option value='/patients/tab_obstetric_history?patient_id=<%= session["patient_anc_map"][@patient.id]  %>' >
                  Obstetric History
                </option>
                <option value='/patients/tab_medical_history?patient_id=<%=
                        session["patient_anc_map"][@patient.id]  %>&internal_id=<%= @patient.id %>' >
                  Medical History
                </option>
                <option value='/patients/tab_social_history?patient_id=<%= session["patient_anc_map"][@patient.id] %>' >
                  Social History
                </option>
                <option value='/patients/tab_detailed_obstetric_history?patient_id=<%= session["patient_anc_map"][@patient.id] %>'>
                  Detailed Obstetric History
                </option>
                <option value='/patients/tab_visit_history?patient_id=<%= session["patient_anc_map"][@patient.id] %>'>
                  Current Pregnancy
                </option>

              <% end %>

            </select>
            <select id="links">

              <%if @patient.person.age > 10%>
              <!--option value='/encounters/new/observations?patient_id=<%= @patient.id %>'>Admission Exams</option-->
              <option value='/encounters/new/antenatal?patient_id=<%= @patient.id %>'>Ante-Natal Exams</option>
              <option value='/encounters/new/postnatal?patient_id=<%= @patient.id %>'>Post-Natal Exams</option>
              <option value='/encounters/new/outcome?patient_id=<%= @patient.id %>'>Update Outcome</option>
               <%end%>
              <option value='/encounters/update_hiv_status?patient_id=<%= @patient.id %>'>Update Hiv Status</option>
             

            </select>
            <select id="navigation_links">

              <%
              assign_serial_numbers = CoreService.get_global_property_value("assign_serial_numbers").to_s == "true" rescue false
              unless   @registration || !assign_serial_numbers %>
                <option link='/patients/general_demographics?patient_id=<%= @patient.id %>'>
                  Demographics
                </option>
              <%else%>
                <option link='/patients/demographics?patient_id=<%= @patient.id %>&person_id=<%= @patient.id %>&reg=true'>
                  Demographics
                </option>
              <%end%>
<!--option link='/patients/demographics?patient_id=<%= @patient.id %>&person_id=<%= @patient.person.id %>'>
Full Demographics
</option-->
              <option link='/patients/print_registration?patient_id=<%= @patient.id %>'>Print Registration</option>

            </select>
            <tr>
              <td align='center'>
                <input type='submit' value='Finish' />
              </td>
            </tr>
          </table>
        </form>
      </center>
    </div>
  </body>
</html>
